html {
    font-size: 6.25%;
    transform:rotate(-90deg);
    position: fixed;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('./images/backgroundimagemobi.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0rem;
    padding: 0rem;
}

.header {
    width: 100%;
    text-align: center;
}

.banner {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.header img {
    position: fixed;
    top: 120rem;;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50rem;
    width: 500rem;
}

.banner img {
    position: fixed;
    top: 190rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50rem;
    width: 350rem;
}

.text {
    font-family: 'Gloria Hallelujah';
    letter-spacing: 5rem;
    color: #fff9e4;
    text-shadow: 1rem 1rem 1rem black;
    position: fixed;
}

#result {
    position: fixed;
    font-size: 30rem;
    top: 120rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info {
    position: fixed;
}

.text.info {
    font-size: 10rem;
    top: 190rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.your-score {
    position: fixed;
    bottom: 130rem;
    font-size: 15rem;
    left: 20rem;
}

.computer-score {
    position: fixed;
    bottom: 130rem;
    font-size: 15rem;
    left: 330rem;
    white-space: nowrap;
}

.attributes {
    opacity: 0%;
}

.credits {
    font-size: 30rem;
    color: #fff9e4;
    line-height: 35rem;
    text-align: center;
    margin-top: 0rem;
}

ul {
    list-style-type: none;
}

li {
    padding: 10rem;
}

a {
    text-decoration: none;
    color: #fff9e4;
}

li:hover {
    opacity: 100%;
    text-decoration: underline;
    background-color: #4C2291;
    transform: scale(1.1);
}

.boy img {
    height: 130rem;
    position: fixed;
    left: 60rem;
    top: 350rem; 
}

.attack-pose {
    opacity: 0%;
}

.robot img {
    height: 180rem;
    position: fixed;
    left: 270rem;
    top: 340rem;
}

.left-buttons {
    position: fixed;
    left: 0rem;
    top: 200rem;
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.right-buttons {
    position: fixed;
    right: 0rem;
    top: 200rem;
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.rock img,
.paper img,
.scissors img {
    opacity: 80%;
    height: 40rem;
}

.left-buttons img:hover {
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 100%;
    box-shadow: 0rem 0rem 50rem 0rem #2a54eb;
}

.clicked img{
    transform:scale(1.1);
    opacity: 100%;
    border-radius: 100%;
    box-shadow: 0rem 0rem 50rem 0rem #2a54eb;
}

.make-visible,
.attributes:hover {
    opacity: 100%;
}

.make-invisible {
    opacity: 0%;
}

/*Adaptive Designs for phones */

@media (min-width: 370px) and (max-width: 430px) {
    html {
        font-size: 5.25%;
    }
    .header img {
        position: fixed;
        top: 260rem;
        height: 40rem;
        width: 500rem;
    }
    
    .banner img {
        position: fixed;
        top: 320rem;
        height: 40rem;
        width: 350rem;
    }
    #result {
        top: 260rem;
    }
    #info {
        top: 320rem;
    }
    .your-score {
        bottom: 250rem;
        font-size: 15rem;
        left: 20rem;
    } 
    .computer-score {
        bottom: 250rem;
        font-size: 15rem;
        left: 330rem;
    }
    .boy img {
        height: 170rem;
        position: fixed;
        left: 60rem;
        top: 480rem; 
    }
    .robot img {
        height: 200rem;
        position: fixed;
        left: 270rem;
        top: 475rem;
    }
    .left-buttons {
        left: -40rem;
        top: 350rem;
    }
    
    .right-buttons {
        right: -40rem;
        top: 350rem;
    }
}

@media (min-width: 320px) and (max-width: 370px) {
    html {
        font-size: 4.25%;
    }
    .header img {
        position: fixed;
        top: 320rem;
        height: 40rem;
        width: 500rem;
    }
    
    .banner img {
        position: fixed;
        top: 400rem;
        height: 40rem;
        width: 350rem;
    }
    #result {
        top: 320rem;
    }
    #info {
        top: 400rem;
    }
    .your-score {
        bottom: 250rem;
        font-size: 15rem;
        left: 20rem;
    } 
    .computer-score {
        bottom: 250rem;
        font-size: 15rem;
        left: 330rem;
    }
    .boy img {
        height: 170rem;
        position: fixed;
        left: 60rem;
        top: 590rem; 
    }
    .robot img {
        height: 200rem;
        position: fixed;
        left: 270rem;
        top: 600rem;
    }
    .left-buttons {
        left: -40rem;
        top: 400rem;
    }
    
    .right-buttons {
        right: -40rem;
        top: 400rem;
    }
}